Variable,Data types,Types of operators,Type conversion and type casting,input in python

Variable

In [2]:
''' A variable is a name give to a memory location in a program '''
# do nat a useing keywords in variable

' A variable is a name give to a memory location in a program '

In [4]:

name = 'harshal'     # name is variable and memory location and "harshal" is v value
age = 22             # age is variable ade memory location and "22" is v value
place = 'hydrabad'  # place is variable and memory location and "hydrabad" is v value

print('name', name)
print('age', age)
print('place', place)

name harshal
age 22
place hydrabad

In [8]:
name='vishal'    # name is memory location and variable <------> vishal is variable (value)
age=21
city='aurangbad'

print('name',name)
print('age',age)
print('city',city)

name vishal
age 21
city aurangbad

In [10]:
name='Priyanka'
age=24
city='hydrabad'

print(name)
print(age)
print(city)

Priyanka
24
hydrabad

In [17]:
#hhhg

Data types

In [21]:
# 1) Integers-->(negative and positive numbers, 1,55,60,-10,-95,-1)
# 2) String -->(A to Z , a to z , big and smal characters )
# 3) Float-->( negative'-') and (positive'+') numvers, (3.55,9.0,55.00,-55.00,-1.2))
# 4) Boolen-->( True or False) using only first leter capitel just(T,F)
# 5) Non-->(a=none)

Types of operators

In [24]:
# 1) Arithmetic operators--> (+,-,*,/,%,**)
# 2) relational / comparison operators--> (==,!=,<,>,<=,>=)
# 3) assigment operators-->(=,+=,-=,*=,/=,%=,**=)
# 4) Logical operators-->(not,and,or)

In [28]:
# 1) arithmetic operators--> (+,-,*,/,%,**)

a=60
b=50
f=a+b
print(f)

110

In [30]:
a=55
b=45
g=a-b
print(g)

10

In [32]:
a=80
b=5
h=a/b
print(h)

16.0

In [34]:
a=60
b=5
j=a*b
print(j)

300

In [38]:
# 2) String -->(A to Z , a to z , big and smal characters )

name='harshal'
name2='HARSHAL'
name3='Harshal'
print(name)
print(name2)
print(name3)

harshal
HARSHAL
Harshal

In [58]:
# 3) assigment operators-->(=,+=,-=,*=,/=,%=,**=)

a=50
b=50
g=a=b
print(g)

50

In [70]:
a=50
b=60
h= a=b
print(h)

60

In [128]:
a=50
b=50
y= a==b
print(y)

True

In [126]:
a=50
b=2
g=a**b
print(g)

2500

In [86]:
# 4) Logical operators-->(not,and,or)

# using a boolen single value
a=50
b=50
print(a,not b)

50 False

In [90]:
a=60
b=50
h=a==b       # you can use (not) operator converting a ( True valu = False ) and (False value = True )
print(not h)

True

In [92]:
a=60
b=60
h=a==b       # you can use (not) operator converting a ( True valu = False ) and (False value = True )
print(not h)

False

In [102]:
# and operator perform Two value

val1=True
val2=True           #all answer can be (True,True) final answer also true
H= val1==val2
print(val1 and val2)

True

In [100]:
# and operator perform Two value

val1=False
val2=True             # if any one answer can be (False,True) final answer can be False
print(val1 and val2)

False

In [106]:
# or operator perform Two value

val1=True 
val2=True            # any one value True answer give True
print(val1 or val2 )

True

In [104]:
# or operator perform Two value

val1=True 
val2=False          # any one value True answer give True
print(val1 or val2 )

True

In [110]:
# or operator perform Two value

val1=False
val2=False           # all value can be False answer also false
print(val1 or val2 )

False

Type conversion and type casting

In [ ]:
# Python automatic (Type conversion)
# type casting is a manual

In [137]:
# Type conversion Example
a=50
b=5.5
print(a+b)

55.5

In [135]:
# Type conversion Example
a=50
b=5.5
print(a*b)

275.0

In [139]:
# Type conversion Example
a=50.05
b=5
print(a+b)

55.05

In [141]:
# type casting is a manual
a=50.05
b=5
print(int(a+b))

55

In [143]:
# type casting is a manual
a=50.05
b=5
print(int(a*b))

250

Input in Python

In [148]:
#In Python, the input() function is used to take input from the user during program execution. When called, it pauses the program and waits for the user to type something and press Enter. Whatever the user types is returned as a string.

In [150]:
input('enter your name')

enter your name harshal

'harshal'

In [162]:
age=input('enter your age')
print('age',age)

enter your age 22

age 22

In [164]:
name=input('enter your nam ')
age=input('Eanter your age')
city=input('enter your city name')
mark=input('enter your marks')

print('Name',name)
print('age', age)
print('city', city)
print('marks',mark)

enter your nam  harshal laxman gaikwad
Eanter your age 22
enter your city name Aurangabad
enter your marks 480

Name harshal laxman gaikwad
age 22
city Aurangabad
marks 480

In [166]:
# using a int(), and flost()

name=input('enter your nam ')
age=int(input('Eanter your age'))
city=input('enter your city name')
mark=float(input('enter your marks'))

print('Name',name)
print('age', age)
print('city', city)
print('marks',mark)

enter your nam  harshal
Eanter your age 22
enter your city name Aurangabad
enter your marks 486

Name harshal
age 22
city Aurangabad
marks 486.0

In [168]:
#  This is a proper input code in python

# using a int(), and flost()

name=input('enter your nam ')
age=int(input('Eanter your age'))
city=input('enter your city name')
mark=float(input('enter your marks'))

print('Name',name)
print('age', age)
print('city', city)
print('marks',mark)

enter your nam  harshal
Eanter your age 22
enter your city name Aurangabad
enter your marks 466

Name harshal
age 22
city Aurangabad
marks 466.0